<div class="navbar navbar-inverse fixed top">
  <div class="navbar-inner">
    <%=  link_to "Mitgliederverwaltung", members_path, :class => 'brand'  %>
    <ul class="nav">
      <%= nav_link_to 'Mitglieder', members_path %>
      <%= nav_link_to 'Mitgliedstypen', roles_path %>
    </ul>
  </div>
</div>